.container {
  display: flex;
  margin-left: auto;
  gap: 10px;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 7px 14px;
  border-radius: 15px;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: orange;
}
